*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0A1628;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
}

.logo img{
    width:180px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#00E676;
}

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:60px;
    color:#00E676;
}

.hero h2{
    margin-top:15px;
    font-size:30px;
}

.hero p{
    max-width:700px;
    margin:25px auto;
    line-height:1.8;
    color:#dcdcdc;
}

.hero-buttons{
    margin-top:40px;
}

.btn1,
.btn2{
    display:inline-block;
    padding:15px 35px;
    border-radius:8px;
    text-decoration:none;
    margin:10px;
    font-weight:bold;
    transition:.3s;
}

.btn1{
    background:#00E676;
    color:#0A1628;
}

.btn2{
    border:2px solid #00E676;
    color:white;
}

.btn1:hover,
.btn2:hover{
    transform:translateY(-5px);
  }
